<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>
<body>

<h1>Create Order</h1>

<input type="text" id="userId" placeholder="User ID">
<input type="number" id="totalPrice" placeholder="Total Price">

<button onclick="createOrder()">Create Order</button>
<button onclick="loadOrders()">Load Orders</button>

<ul id="orders"></ul>

<script>

    function loadOrders() {
        fetch('/api/orders')
            .then(res => res.json())
            .then(data => {

                const list = document.getElementById("orders");
                list.innerHTML = "";

                data.forEach(o => {
                    const li = document.createElement("li");
                    li.innerText =
                        "ID: " + o.id +
                        " | User: " + o.userId +
                        " | Price: " + o.totalPrice +
                        " | Status: " + o.status;

                    list.appendChild(li);
                });
            });
    }

    function createOrder() {

        const userId = document.getElementById("userId").value;
        const totalPrice = document.getElementById("totalPrice").value;

        fetch(`/api/orders?userId=${userId}&totalPrice=${totalPrice}`, {
            method: "POST"
        })
            .then(() => loadOrders());
    }

</script>

</body>
</html>