<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order List</title>
</head>
<body>

<h2>Order List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Total Price</th>
        <th>Status</th>
    </tr>

    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.userId}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td th:text="${order.status}"></td>
    </tr>
</table>

<br>
<a href="/order/create">Tambah Order</a>

</body>
</html>